Repository TEAM-MODDY/moddy-web, pull requests merged in 2024-01, with the labels that each got.

#7 [Setting] Stylelint 세팅
  .stylelintrc
  package.json
  yarn.lock
Labels: setting ⚙️

#3 [Setting] ESLlint와 prettier 설정
  .eslintrc.cjs
  .eslintrc.json
  .prettierrc
  package.json
  src/main.tsx
  yarn.lock
Labels: setting ⚙️

#5 [Setting] GlobalStyle와 Husky 설정
  .husky/_/husky.sh
  .husky/pre-commit
  .stylelintrc
  package.json
  src/App.tsx
  src/styles/GlobalStyle.ts
  yarn.lock
Labels: setting ⚙️

#11 [Setting] globalStyle과 styleling 충돌 해결
  .stylelintrc
  src/styles/GlobalStyle.ts
Labels: setting ⚙️

#13 [Setting] stylelint 누락 속성 추가
  .stylelintrc
Labels: setting ⚙️

#14 [Setting]Theme 설정
  .eslintrc.json
  index.html
  src/App.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
Labels: setting ⚙️

#17 [Setting]Theme 설정 수정
  src/styles/Theme.ts
  src/styles/style.d.ts
Labels: setting ⚙️

#33 [Common] 공통 컴포넌트 - Header, CTA 구현
  src/App.tsx
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
Labels: feature ✨, Common 🫧, Publish 🎨

#35 [ModelInfoPage]첫번째 영역 퍼블리싱
  src/App.tsx
  src/pages/ModelInfoPage.tsx
  src/styles/GlobalStyle.ts
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/ModelOffer.tsx
  src/views/ModelInfoPage/components/CopyButton.tsx
  src/views/ModelInfoPage/components/OfferDetail.tsx
  src/views/ModelInfoPage/components/OfferDetailBox.tsx
  src/views/ModelInfoPage/hooks/types.ts
Labels: ModelInfoPage 📑

#44 [Common] 공통 컴포넌트 - ProgressBar
  src/pages/MainPage.tsx
  src/views/@common/components/ProgressBar.tsx
Labels: feature ✨, Common 🫧, publish 🎨

#45 [MainPage] 메인화면 퍼블리싱
  src/App.tsx
  src/pages/MainPage.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/MainPage/assets/icons/ic_right_white.svg
  src/views/MainPage/assets/icons/img_logohome.svg
  src/views/MainPage/assets/icons/index.ts
  src/views/MainPage/assets/images/img_homecontents1.png
  src/views/MainPage/assets/images/img_homecontents2.png
  src/views/MainPage/assets/images/img_new.svg
  src/views/MainPage/assets/images/index.ts
  src/views/MainPage/components/ApplicationCard.tsx
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/components/Contents.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/constants/constants.ts
Labels: MainPage 💇🏻‍♀️, publish 🎨

#48 [Common] CTA 추상화
  src/views/@common/components/Button.tsx
Labels: feature ✨, Common 🫧, publish 🎨

#50 [Common] 공통 컴포넌트 - 모달 구현
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/components/Modal.tsx
Labels: feature ✨, Common 🫧, publish 🎨

#54 [Agreement] 이용약관 페이지 구현
  .eslintrc.json
  src/App.tsx
  src/pages/AgreementPage.tsx
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/AgreementPage/components/.gitkeep
  src/views/AgreementPage/components/AgreementItem.tsx
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/AgreementPage/constants/.gitkeep
  src/views/AgreementPage/hooks/.gitkeep
  src/views/AgreementPage/utils/.gitkeep
Labels: feature ✨, publish 🎨, AgreementPage ✅

#57 [LoginPage] 로그인페이지 퍼블리싱
  src/pages/LoginPage.tsx
  src/views/LoginPage/assets/images/img_kakaotalk.svg
  src/views/LoginPage/assets/images/index.ts
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginText.tsx
Labels: publish 🎨, LoginPage 👁️‍🗨️

#61 [MyPage] 마이페이지 퍼블리싱
  src/pages/MyPage.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/images/img_hdprofile.png
  src/views/@common/assets/images/img_mylogo.png
  src/views/MyPage/components/.gitkeep
  src/views/MyPage/components/MyFooter.tsx
  src/views/MyPage/components/MyInfo.tsx
  src/views/MyPage/components/MyMenuItem.tsx
  src/views/MyPage/components/MyMenuList.tsx
Labels: publish 🎨, LoginPage 👁️‍🗨️

#64 [MyPage] 회원탈퇴 페이지 퍼블리싱
  src/App.tsx
  src/pages/MyQuitPage.tsx
  src/views/MyQuit/components/MyQuitCheck.tsx
  src/views/MyQuit/components/MyQuitText.tsx
Labels: publish 🎨, MyPage 💗

#70 [SignUpPage] 회원가입 뷰 퍼블리싱 및 기능 구현
  .stylelintrc
  src/pages/SignUpPage.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/icons/ic_essential.svg
  src/views/@common/assets/icons/ic_information.svg
  src/views/@common/assets/icons/ic_step_ongoing.svg
  src/views/@common/assets/icons/index.ts
  src/views/@common/assets/images/img_scissor.png
  src/views/@common/components/.gitkeep
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/Input.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/TextArea200.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/Field.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/components/SelectPreferRegion.tsx
  src/views/SignUpPage/components/SelectUserType.tsx
  src/views/SignUpPage/components/VerifyPhoneNumber.tsx
  src/views/SignUpPage/constants/requestStatus.ts
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/constants/userType.ts
  src/views/SignUpPage/hooks/useInterval.ts
Labels: feature ✨, SignUpPage 👤, publish 🎨

#66 [MyPage] 로그아웃, 회원탈퇴 기능 구현
  .eslintrc.json
  package.json
  src/pages/MyPage.tsx
  src/pages/MyQuitPage.tsx
  src/views/@common/components/Modal.tsx
  src/views/MyPage/components/MyInfo.tsx
  src/views/MyPage/components/MyMenuItem.tsx
  src/views/MyPage/components/MyMenuList.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: feature ✨, MyPage 💗

#78 [OfferInfoPage] 첫번째 페이지 퍼블리싱
  src/App.tsx
  src/pages/ModelInfoPage.tsx
  src/pages/OfferInfoPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/icons/ic_step_ongoing.svg
  src/views/@common/components/.gitkeep
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/Input.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ModelOffer.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/TextArea200.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/ModelInfoPage/components/CopyButton.tsx
  src/views/ModelInfoPage/components/OfferDetail.tsx
  src/views/ModelInfoPage/components/OfferDetailBox.tsx
  src/views/ModelInfoPage/constants/MODEL_DATA.ts
  src/views/ModelInfoPage/hooks/types.ts
  src/views/OfferInfoPage/assets/icons/ic_bookmark.svg
  src/views/OfferInfoPage/assets/icons/ic_flowdot.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_image.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_link.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_people.svg
  src/views/OfferInfoPage/assets/icons/ic_left.svg
  src/views/OfferInfoPage/assets/icons/index.ts
  src/views/OfferInfoPage/assets/images/img_proplogo.png
  src/views/OfferInfoPage/components/CheckOffer.tsx
  src/views/OfferInfoPage/components/ConditionContentBox.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/constants/CONDITION_DATA.tsx
  src/views/OfferInfoPage/constants/OFFER_DATA.ts
Labels: OfferInfoPage 📋

#76 [ApplicationPage] 기본 정보 입력 화면 퍼블리싱
  src/App.tsx
  src/pages/ApplicationPage.tsx
  src/pages/ModelInfoPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/icons/ic_step_ongoing.svg
  src/views/@common/assets/images/btn_hair1_default.png
  src/views/@common/assets/images/btn_hair1_selected.png
  src/views/@common/assets/images/btn_hair2_default.png
  src/views/@common/assets/images/btn_hair2_selected.png
  src/views/@common/assets/images/btn_hair3_default.png
  src/views/@common/assets/images/btn_hair3_selected.png
  src/views/@common/assets/images/btn_hair4_default.png
  src/views/@common/assets/images/btn_hair4_selected.png
  src/views/@common/assets/images/img_letter.png
  src/views/@common/assets/images/img_samplemodel.png
  src/views/@common/components/.gitkeep
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/Input.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ModelOffer.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/TextArea200.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/ApplicationPage/components/.gitkeep
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
  src/views/ApplicationPage/pages/ConfirmPage.tsx
  src/views/ModelInfoPage/components/CopyButton.tsx
  src/views/ModelInfoPage/components/OfferDetail.tsx
  src/views/ModelInfoPage/components/OfferDetailBox.tsx
  src/views/ModelInfoPage/hooks/types.ts
Labels: ApplicationPage 📝, publish 🎨

#59 [ApplicationPage] 최종 제안서 화면 구현
  src/App.tsx
  src/pages/ApplicationPage.tsx
  src/views/@common/assets/images/img_applylogo.png
  src/views/@common/components/Header.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/pages/ConfirmPage.tsx
Labels: ApplicationPage 📝, publish 🎨

#91 [MainPage] 배너 및 컨텐츠 수정
  src/pages/MainPage.tsx
  src/views/@common/assets/images/img_banner1.png
  src/views/@common/assets/images/img_banner2.png
  src/views/MainPage/assets/images/img_content1.png
  src/views/MainPage/assets/images/img_content2.png
  src/views/MainPage/assets/images/img_homecontents1.png
  src/views/MainPage/assets/images/img_homecontents2.png
  src/views/MainPage/assets/images/img_maincont1.png
  src/views/MainPage/assets/images/img_maincont2.png
  src/views/MainPage/assets/images/img_profile.png
  src/views/MainPage/components/ApplicationCard.tsx
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/components/Contents.tsx
Labels: MainPage 💇🏻‍♀️, publish 🎨

#93 [MainPage] 스크롤에 따른 상태바 색상 적용
  src/pages/MainPage.tsx
  src/styles/GlobalStyle.ts
  src/views/MainPage/components/Contents.tsx
  src/views/MainPage/components/StatusBarForiOS.tsx
  src/views/MainPage/hooks/useStatusBarColor.tsx
Labels: feature ✨, MainPage 💇🏻‍♀️

#95 [Common] fixed 컴포넌트 스타일 수정
  src/views/@common/components/Header.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/MyPage/components/MyFooter.tsx
Labels: Common 🫧, publish 🎨

#87 [ModelInfoPage] 두번째, 세번째 뷰 퍼블리싱 및 네이게이션
  src/App.tsx
  src/pages/ModelInfoPage.tsx
  src/views/@common/assets/images/img_letter_line.png
  src/views/@common/components/Modal.tsx
  src/views/ModelInfoPage/components/ConditionBox.tsx
  src/views/ModelInfoPage/components/ModelOfferPage.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
  src/views/ModelInfoPage/components/PreferOffer.tsx
  src/views/ModelInfoPage/components/TitleBox.tsx
  src/views/ModelInfoPage/constants/MODEL_INFO_DATA.ts
  src/views/ModelInfoPage/constants/conditionData.tsx
Labels: ModelInfoPage 📑

#100 [Merge] feature/OfferInfoPage => develop
  src/App.tsx
  src/pages/ModelInfoPage.tsx
  src/pages/OfferInfoPage.tsx
  src/styles/GlobalStyle.ts
  src/views/@common/components/ToastMessage.tsx
  src/views/ModelInfoPage/constants/MODEL_DATA.ts
  src/views/OfferInfoPage/assets/icons/ic_bookmark.svg
  src/views/OfferInfoPage/assets/icons/ic_flowdot.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_image.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_link.svg
  src/views/OfferInfoPage/assets/icons/ic_flowicon_people.svg
  src/views/OfferInfoPage/assets/icons/ic_left.svg
  src/views/OfferInfoPage/assets/icons/index.ts
  src/views/OfferInfoPage/assets/images/img_proplogo.png
  src/views/OfferInfoPage/assets/images/img_shining.png
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/OfferInfoPage/components/CheckOffer.tsx
  src/views/OfferInfoPage/components/ConditionContentBox.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgBox.tsx
  src/views/OfferInfoPage/components/ProfileWrapperBox.tsx
  src/views/OfferInfoPage/constants/CHECK_OFFER_DATA.ts
  src/views/OfferInfoPage/constants/CONDITION_DATA.tsx
  src/views/OfferInfoPage/constants/OFFER_DATA.ts
Labels: merge 🌱

#103 [Merge] feature/ModelInfoPage => develop
  src/App.tsx
  src/pages/ModelInfoPage.tsx
  src/views/@common/assets/images/img_letter_line.png
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ModelOffer.tsx
  src/views/ModelInfoPage/components/ConditionBox.tsx
  src/views/ModelInfoPage/components/ModelOffer.tsx
  src/views/ModelInfoPage/components/ModelOfferPage.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
  src/views/ModelInfoPage/components/PreferOffer.tsx
  src/views/ModelInfoPage/components/TitleBox.tsx
  src/views/ModelInfoPage/constants/MODEL_INFO_DATA.ts
  src/views/ModelInfoPage/constants/conditionData.tsx
Labels: merge 🌱

#97 [Merge] feature/ApplicationPage => develop
  src/App.tsx
  src/pages/ApplicationPage.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/images/btn_hair1_default.png
  src/views/@common/assets/images/btn_hair1_selected.png
  src/views/@common/assets/images/btn_hair2_default.png
  src/views/@common/assets/images/btn_hair2_selected.png
  src/views/@common/assets/images/btn_hair3_default.png
  src/views/@common/assets/images/btn_hair3_selected.png
  src/views/@common/assets/images/btn_hair4_default.png
  src/views/@common/assets/images/btn_hair4_selected.png
  src/views/@common/assets/images/img_applylogo.png
  src/views/@common/assets/images/img_letter.png
  src/views/@common/assets/images/img_samplemodel.png
  src/views/ApplicationPage/components/.gitkeep
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
  src/views/ApplicationPage/pages/ConfirmPage.tsx
Labels: merge 🌱

#101 [Merge] feature/SignUpPage => develop
  .stylelintrc
  src/pages/SignUpPage.tsx
  src/views/@common/assets/icons/ic_essential.svg
  src/views/@common/assets/icons/ic_information.svg
  src/views/@common/assets/icons/index.ts
  src/views/@common/assets/images/img_scissor.png
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/Field.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/components/SelectPreferRegion.tsx
  src/views/SignUpPage/components/SelectUserType.tsx
  src/views/SignUpPage/components/VerifyPhoneNumber.tsx
  src/views/SignUpPage/constants/requestStatus.ts
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/constants/userType.ts
  src/views/SignUpPage/hooks/useInterval.ts
Labels: merge 🌱

#102 [Merge] feature/MainPage => develop
  src/pages/MainPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/assets/images/img_banner1.png
  src/views/@common/assets/images/img_banner2.png
  src/views/MainPage/assets/icons/ic_right_white.svg
  src/views/MainPage/assets/icons/img_logohome.svg
  src/views/MainPage/assets/icons/index.ts
  src/views/MainPage/assets/images/img_content1.png
  src/views/MainPage/assets/images/img_content2.png
  src/views/MainPage/assets/images/img_maincont1.png
  src/views/MainPage/assets/images/img_maincont2.png
  src/views/MainPage/assets/images/img_new.svg
  src/views/MainPage/assets/images/img_profile.png
  src/views/MainPage/assets/images/index.ts
  src/views/MainPage/components/ApplicationCard.tsx
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/components/Contents.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/StatusBarForiOS.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/constants/constants.ts
  src/views/MainPage/hooks/useStatusBarColor.tsx
Labels: merge 🌱

#113 [ModelInfoPage]인스타그램 아이디 복사 기능
  src/pages/ModelInfoPage.tsx
  src/pages/OfferDetailSection.tsx
  src/views/@common/components/Button.tsx
  src/views/ModelInfoPage/components/CopyButton.tsx
  src/views/ModelInfoPage/components/DetailBox.tsx
  src/views/ModelInfoPage/components/ModelOffer.tsx
  src/views/ModelInfoPage/components/ModelOfferPage.tsx
  src/views/ModelInfoPage/components/PreferOffer.tsx
  src/views/ModelInfoPage/constants/CONDITION_DATA.tsx
  src/views/ModelInfoPage/constants/MODEL_DATA.ts
Labels: feature ✨, ModelInfoPage 📑

#79 [ApplicationPage] 시술 내역 화면 퍼블리싱
  src/views/ApplicationPage/components/HistoryList.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
Labels: ApplicationPage 📝, publish 🎨

#119 [Common] 데스크탑뷰 fixed 컴포넌트 위치 변경
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ToastMessage.tsx
Labels: bug 🐛, Common 🫧

#120 [Merge] feature/Common => develop
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ToastMessage.tsx
Labels: merge 🌱

#107 [MainPage] 배너 캐러셀 구현
  .stylelintrc
  package.json
  src/App.tsx
  src/pages/AgreementPage.tsx
  src/pages/MainPage.tsx
  src/styles/Theme.ts
  src/styles/style.d.ts
  src/views/@common/components/Button.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/AgreementPage/components/.gitkeep
  src/views/AgreementPage/components/AgreementItem.tsx
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/AgreementPage/constants/.gitkeep
  src/views/AgreementPage/hooks/.gitkeep
  src/views/AgreementPage/utils/.gitkeep
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/styles/carousel.css
  yarn.lock
Labels: feature ✨, MainPage 💇🏻‍♀️

#114 [SignUpPage] 다음 버튼 활성화/비활성화 및 모달,토스트 구현
  src/pages/SignUpPage.tsx
  src/views/@common/assets/images/img_designer.png
  src/views/@common/assets/images/img_model.png
  src/views/@common/components/Header.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/SelectPreferRegion.tsx
  src/views/SignUpPage/components/SelectUserType.tsx
  src/views/SignUpPage/components/VerifyPhoneNumber.tsx
  src/views/SignUpPage/constants/message.ts
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/constants/text.ts
Labels: feature ✨, SignUpPage 👤

#125 [MainPage] 다른 페이지로 이동했을 때 배경색 이슈 해결
  src/styles/GlobalStyle.ts
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/hooks/useStatusBarColor.tsx
Labels: bug 🐛, MainPage 💇🏻‍♀️

#130 [Merge] feature/MainPage => develop
  .stylelintrc
  package.json
  src/App.tsx
  src/pages/MainPage.tsx
  src/styles/GlobalStyle.ts
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/hooks/useStatusBarColor.tsx
  src/views/MainPage/styles/carousel.css
  yarn.lock
Labels: merge 🌱

#116 [ApplicationPage] 상세 스타일 화면 기능 구현
  src/views/ApplicationPage/components/DetailedStyle.tsx
Labels: feature ✨, ApplicationPage 📝

#112 [Common] axiosInstance 생성
  src/views/@common/hooks/api.ts
Labels: setting ⚙️, Common 🫧

#134 [Merge] feature/Common => develop
  src/views/@common/hooks/api.ts
Labels: merge 🌱

#133 [Common] Input에 initialValue prop 추가
  src/views/@common/components/Input.tsx
Labels: feature ✨, Common 🫧

#135 [Merger] feature/Common => develop
  src/views/@common/components/Input.tsx
Labels: merge 🌱

#137 [SignUpPage] 유저 입력 데이터 관리
  index.html
  package.json
  src/App.tsx
  src/pages/MainPage.tsx
  src/recoil/atoms/signUpState.ts
  src/views/@common/components/Input.tsx
  src/views/@common/hooks/api.ts
  src/views/@common/utils/constants.ts
  src/views/@common/utils/userType.ts
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/components/SelectPreferRegion.tsx
  src/views/SignUpPage/components/SelectUserType.tsx
  src/views/SignUpPage/components/VerifyPhoneNumber.tsx
  src/views/SignUpPage/constants/userType.ts
  yarn.lock
Labels: feature ✨, SignUpPage 👤

#124 [LoginPage] 리드의 지조를 지키기 위해 만든 카카오 로그인 PR
  src/App.tsx
  src/main.tsx
  src/views/@common/hooks/api.ts
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginCallback.tsx
  src/views/LoginPage/constants/kakaoLink.ts
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: feature ✨, LoginPage 🔐

#145 [Merge] feature/Login => develop
  src/App.tsx
  src/main.tsx
  src/views/@common/hooks/api.ts
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginCallback.tsx
  src/views/LoginPage/constants/kakaoLink.ts
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: merge 🌱

#136 [MyPage] useGetUser 통신 구현
  src/views/MyPage/hooks/type.ts
  src/views/MyPage/hooks/useGetUser.ts
Labels: MyPage 🙋🏻, api 📡

#142 [MyPage] usePostUser API 통힌 구현
  src/views/MyPage/hooks/type.ts
  src/views/MyPage/hooks/usePostUser.ts
Labels: MyPage 🙋🏻, api 📡

#147 [SignUpPage] 디자이너/모델 회원가입 스텝 분리
  src/pages/SignUpPage.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/Pofile.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/components/UserType.tsx
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/utils/enterProfileProp.ts
Labels: feature ✨, SignUpPage 👤

#148 [Merge] feature/agreement => develop
  src/pages/AgreementPage.tsx
Labels: merge 🌱

#146 [LoginPage, MyPage, QuitPage] UX라이팅 변경 사항
  src/pages/LoginPage.tsx
  src/pages/MyPage.tsx
  src/pages/MyQuitPage.tsx
  src/views/@common/constants/modalText.ts
  src/views/LoginPage/components/LoginText.tsx
Labels: AgreementPage ✅, LoginPage 🔐, MyPage 🙋🏻

#151 [SignUpPage] 모델 회원가입 API 연동
  src/main.tsx
  src/pages/AgreementPage.tsx
  src/recoil/atoms/signUpState.ts
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/hooks/type.ts
  src/views/SignUpPage/hooks/useGetRegion.ts
  src/views/SignUpPage/hooks/useModelSignUp.ts
Labels: SignUpPage 👤, api 📡

#152 [Merge] feature/SignUpPage => develop
  index.html
  package.json
  src/App.tsx
  src/main.tsx
  src/pages/MainPage.tsx
  src/pages/SignUpPage.tsx
  src/recoil/atoms/signUpState.ts
  src/views/@common/hooks/api.ts
  src/views/@common/utils/constants.ts
  src/views/@common/utils/userType.ts
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginCallback.tsx
  src/views/LoginPage/constants/kakaoLink.ts
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/Pofile.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/components/UserType.tsx
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/constants/userType.ts
  src/views/SignUpPage/hooks/type.ts
  src/views/SignUpPage/hooks/useGetRegion.ts
  src/views/SignUpPage/hooks/useModelSignUp.ts
  src/views/SignUpPage/utils/enterProfileProp.ts
  yarn.lock
Labels: merge 🌱

#128 [ApplicationPage] 프로필 이미지 업로드 화면 구현
  .eslintrc.json
  src/pages/ApplicationPage.tsx
  src/views/@common/assets/images/img_photoadd_profile.png
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/utils/.gitkeep
  src/views/ApplicationPage/utils/readImg.ts
Labels: feature ✨, ApplicationPage ✍🏻, publish 🎨

#149 [OfferInfoPage] 이미지 저장 기능 구현
  package-lock.json
  package.json
  src/App.tsx
  src/pages/OfferInfoPage.tsx
  src/views/@common/components/ScrollToTop.tsx
  src/views/OfferInfoPage/assets/images/img_applicationlogo.png
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  yarn.lock
Labels: feature ✨, OfferInfoPage 🧾

#154 [Merge] feature/OfferInfoPage => develop
  package-lock.json
  package.json
  src/App.tsx
  src/pages/OfferInfoPage.tsx
  src/views/@common/components/ScrollToTop.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/OfferInfoPage/assets/images/img_applicationlogo.png
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  yarn.lock
Labels: merge 🌱

#155 [Merge] feature/common => develop
  .stylelintrc
  src/pages/LoginPage.tsx
  src/pages/MyPage.tsx
  src/pages/MyQuitPage.tsx
  src/views/@common/constants/modalText.ts
  src/views/LoginPage/components/LoginText.tsx
Labels: merge 🌱

#156 [Merge] feature/My => develop
  src/views/MyPage/hooks/type.ts
  src/views/MyPage/hooks/useDeleteUser.ts
  src/views/MyPage/hooks/useGetUser.ts
  src/views/MyPage/hooks/usePostUser.ts
Labels: merge 🌱

#157 [SignUpPage]디자이너 회원등록 플로우 퍼블리싱
  src/views/SignUpPage/assets/icons/ic_search.svg
  src/views/SignUpPage/assets/icons/index.ts
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/Pofile.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/message.ts
Labels: SignUpPage 👤, publish 🎨

#163 [LoginPage] 우리아이 돌려내
  src/App.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginCallback.tsx
  src/views/LoginPage/constants/kakaoLink.ts
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: feature ✨, LoginPage 🔐

#164 [Merge] feature/login => develop
  src/App.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginCallback.tsx
  src/views/LoginPage/constants/kakaoLink.ts
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: merge 🌱

#165 [Merge] feature/ApplicationPage => develop
  .eslintrc.json
  src/pages/ApplicationPage.tsx
  src/views/@common/assets/images/img_photoadd_profile.png
  src/views/@common/utils/.gitkeep
  src/views/@common/utils/limitMaxLength.ts
  src/views/ApplicationPage/components/DetailedStyle.tsx
  src/views/ApplicationPage/components/HistoryList.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/utils/.gitkeep
  src/views/ApplicationPage/utils/readImg.ts
Labels: ApplicationPage ✍🏻, merge 🌱

#167 [SignUpPage] 주소창 입력 구현
  package.json
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PostCode.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/message.ts
  yarn.lock
Labels: feature ✨, SignUpPage 👤

#176 [Merge] feature/LoginPage => develop
  src/pages/AgreementPage.tsx
  src/recoil/atoms/agreementState.ts
  src/recoil/atoms/kakaoCodeState.ts
  src/recoil/atoms/signUpState.ts
  src/views/@common/components/ProgressBar.tsx
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/LoginPage/hooks/usePostLogin.ts
  src/views/SignUpPage/hooks/useModelSignUp.ts
Labels: merge 🌱

#170 [MainPage] 모델 메인페이지 API
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/views/@common/constants/userType.ts
  src/views/@common/utils/constants.ts
  src/views/MainPage/components/ApplicationCard.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/constants/applyStatus.ts
  src/views/MainPage/constants/tag.ts
  src/views/MainPage/hooks/type.ts
  src/views/MainPage/hooks/useGetModel.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
Labels: MainPage 💇🏻‍♀️, api 📡

#177 [MainPage] 데스크탑 뷰 파란색 배경 이슈 해결
  src/styles/GlobalStyle.ts
Labels: bug 🐛, MainPage 💇🏻‍♀️

#181 [Merge] feature/MainPage => develop
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/styles/GlobalStyle.ts
  src/views/@common/components/Input.tsx
  src/views/@common/constants/userType.ts
  src/views/@common/utils/constants.ts
  src/views/MainPage/components/ApplicationCard.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/constants/applyStatus.ts
  src/views/MainPage/constants/tag.ts
  src/views/MainPage/hooks/type.ts
  src/views/MainPage/hooks/useGetModel.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/days.ts
  src/views/SignUpPage/constants/message.ts
Labels: merge 🌱

#180 [SignUpPage] 가입 프로세스 끝나고 유저 타입 스토리지에 저장
  src/recoil/atoms/signUpState.ts
  src/views/SignUpPage/components/UserType.tsx
  src/views/SignUpPage/hooks/useModelSignUp.ts
Labels: bug 🐛, SignUpPage 👤

#179 [SignUpPage] 이미지 추가 기능 구현
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/utils/readImg.ts
Labels: feature ✨, SignUpPage 👤

#182 [Merge] feature/SignUpPage => develop
  package.json
  src/recoil/atoms/signUpState.ts
  src/views/OfferInfoPage/hooks/api.ts
  src/views/SignUpPage/assets/icons/ic_search.svg
  src/views/SignUpPage/assets/icons/index.ts
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/Pofile.tsx
  src/views/SignUpPage/components/PostCode.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/components/UserType.tsx
  src/views/SignUpPage/constants/message.ts
  src/views/SignUpPage/hooks/useModelSignUp.ts
  src/views/SignUpPage/utils/readImg.ts
  yarn.lock
Labels: merge 🌱

#185 [SignUpPage] 파싱 에러 수정
  src/views/SignUpPage/components/ShopInfo.tsx
Labels: SignUpPage 👤, error 🚨

#186 [Merge] feature/SignUpPage => develop
  src/views/SignUpPage/components/ShopInfo.tsx
Labels: merge 🌱

#183 [AgreementPage] 상수 빼주기
  src/views/AgreementPage/components/AgreementList.tsx
  src/views/AgreementPage/constants/AGREEMENT_LINK.ts
Labels: feature ✨, AgreementPage ✅

#168 [ApplicationPage] 시술 내역 화면 기능 구현
  .stylelintrc
  package.json
  src/App.tsx
  src/pages/ErrorPage.tsx
  src/pages/LoginPage.tsx
  src/pages/MainPage.tsx
  src/pages/SignUpPage.tsx
  src/styles/GlobalStyle.ts
  src/views/@common/assets/images/img__heejun.png
  src/views/@common/assets/images/img_designer.png
  src/views/@common/assets/images/img_login.png
  src/views/@common/assets/images/img_model.png
  src/views/@common/components/Header.tsx
  src/views/@common/components/Input.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/components/ProgressBar.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/@common/hooks/api.ts
  src/views/ApplicationPage/components/HistoryList.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ErrorPage/components/ErrorButton.tsx
  src/views/ErrorPage/components/ErrorText.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/LoginPage/components/LoginText.tsx
  src/views/MainPage/components/Banner.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/hooks/useStatusBarColor.tsx
  src/views/MainPage/styles/carousel.css
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/SelectPreferRegion.tsx
  src/views/SignUpPage/components/SelectUserType.tsx
  src/views/SignUpPage/components/VerifyPhoneNumber.tsx
  src/views/SignUpPage/constants/message.ts
  src/views/SignUpPage/constants/step.ts
  src/views/SignUpPage/constants/text.ts
  yarn.lock
Labels: feature ✨, ApplicationPage ✍🏻

#171 [OfferInfoPage]모델 지원서 상세보기 API 연결
  src/views/@common/components/Input.tsx
  src/views/OfferInfoPage/components/ConditionContentBox.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  src/views/OfferInfoPage/constants/OFFER_DATA.ts
  src/views/OfferInfoPage/hooks/OfferInfoApi.ts
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/useGetOfferModel.ts
  src/views/SignUpPage/assets/icons/ic_search.svg
  src/views/SignUpPage/assets/icons/index.ts
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/Pofile.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/days.ts
  src/views/SignUpPage/constants/message.ts
Labels: OfferInfoPage 🧾, api 📡

#190 [Merge] feature/OfferInfoPage => develop
  src/views/OfferInfoPage/components/ConditionContentBox.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  src/views/OfferInfoPage/constants/OFFER_DATA.ts
  src/views/OfferInfoPage/hooks/OfferInfoApi.ts
  src/views/OfferInfoPage/hooks/api.ts
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/useGetOfferModel.ts
Labels: merge 🌱

#189 [SignUpPage]글자수 제한 컴포넌트 제작
  src/views/@common/utils/limitMaxLength.ts
  src/views/SignUpPage/components/LimitInput.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
Labels: feature ✨, SignUpPage 👤

#191 [Merge] feature/SignUpPage => develop
  src/views/@common/utils/limitMaxLength.ts
  src/views/SignUpPage/components/LimitInput.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
Labels: merge 🌱

#138 [ApplicationPage] 기본 정보 입력 화면 기능 구현
  src/views/@common/assets/images/btn_hair3_selected.png
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/HairTypeInput.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
Labels: feature ✨, ApplicationPage ✍🏻

#198 [ModelInfoPage] useGetApplication API 연결
  src/pages/ModelInfoPage.tsx
  src/pages/OfferDetailSection.tsx
  src/views/ModelInfoPage/components/DetailBox.tsx
  src/views/ModelInfoPage/hooks/types.ts
  src/views/ModelInfoPage/hooks/useGetApplication.ts
Labels: ModelInfoPage 📄, api 📡

#202 [SignUpPage]디자이너 회원가입 정보 관리
  package.json
  src/recoil/atoms/signUpState.ts
  src/views/@common/components/Modal.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/DesignerTextArea.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/days.ts
  yarn.lock
Labels: feature ✨, SignUpPage 👤

#208 [MainPage] 디자이너 메인 뷰 API
  src/pages/MainPage.tsx
  src/views/@common/constants/userType.ts
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/GuestContents.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/tag.ts
  src/views/MainPage/hooks/type.ts
  src/views/MainPage/hooks/useGetMain.tsx
  src/views/MainPage/hooks/useGetModel.tsx
Labels: MainPage 💇🏻‍♀️, api 📡

#188 [ApplicationPage] 제안서 결과 화면 기능 구현
  package.json
  src/App.tsx
  src/pages/ApplicationPage.tsx
  src/pages/ConfirmPage.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/utils/captureApplication.ts
  yarn.lock
Labels: feature ✨, ApplicationPage ✍🏻

#212 [Merge] feature/MainPage => develop
  package.json
  src/pages/MainPage.tsx
  src/views/@common/constants/userType.ts
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/GuestContents.tsx
  src/views/MainPage/components/ReceivedOffer.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/tag.ts
  src/views/MainPage/hooks/type.ts
  src/views/MainPage/hooks/useGetMain.tsx
  src/views/MainPage/hooks/useGetModel.tsx
  yarn.lock
Labels: merge 🌱

#201 [OfferInfoPage] useGetAgree API 구현
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/components/ProfileWrapperBox.tsx
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/useGetAgree.ts
Labels: OfferInfoPage 🧾, api 📡

#219 [SignUpPage] 전화번호 인증 API 연결
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/constants/message.ts
  src/views/SignUpPage/hooks/type.ts
  src/views/SignUpPage/hooks/usePostPhoneNumber.ts
  src/views/SignUpPage/hooks/usePostVerifyPhoneNumber.ts
Labels: SignUpPage 👤, api 📡

#216 [ApplicationPage] 리코일 세팅
  src/pages/ApplicationPage.tsx
  src/pages/ConfirmPage.tsx
  src/recoil/atoms/applicationState.ts
  src/views/@common/components/TextArea200.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/DetailedStyle.tsx
  src/views/ApplicationPage/components/HairTypeInput.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
  src/views/ApplicationPage/constants/.gitkeep
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/constants/step.ts
  src/views/ApplicationPage/utils/readImg.ts
Labels: feature ✨, ApplicationPage ✍🏻

#215 [Common] Loading 컴포넌트 제작
  .stylelintrc
  src/App.tsx
  src/views/@common/components/Loading.tsx
Labels: Common 🫧, publish 🎨

#227 [Merge] feature/Common => develop
  .stylelintrc
  src/App.tsx
  src/views/@common/components/Loading.tsx
Labels: merge 🌱

#229 [MainPage] 컨텐츠 카드 이미지 변경
  src/views/MainPage/assets/images/img_maincont1.png
  src/views/MainPage/assets/images/img_maincont2.png
Labels: MainPage 💇🏻‍♀️, publish 🎨

#230 [SignUpPage] 디자이너 회원가입 API 연결
  src/recoil/atoms/signUpState.ts
  src/views/@common/constants/userType.ts
  src/views/MainPage/hooks/useGetMain.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/days.ts
  src/views/SignUpPage/hooks/type.ts
  src/views/SignUpPage/hooks/usePostDesignerSignUp.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
Labels: SignUpPage 👤, api 📡

#224 [ModelInfoPage] isSend 따라 버튼 비활성화 처리
  src/pages/ModelInfoPage.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
Labels: feature ✨, ModelInfoPage 📄

#231 [Merge] feature/SignUpPage => develop
  package.json
  src/recoil/atoms/signUpState.ts
  src/views/@common/components/Modal.tsx
  src/views/@common/constants/userType.ts
  src/views/MainPage/hooks/useGetMain.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/DesignerTextArea.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/constants/days.ts
  src/views/SignUpPage/constants/message.ts
  src/views/SignUpPage/hooks/type.ts
  src/views/SignUpPage/hooks/usePostDesignerSignUp.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
  src/views/SignUpPage/hooks/usePostPhoneNumber.ts
  src/views/SignUpPage/hooks/usePostVerifyPhoneNumber.ts
  yarn.lock
Labels: merge 🌱

#232 [Merge] feature/ModelInfoPage => develop
  src/pages/ModelInfoPage.tsx
  src/pages/OfferDetailSection.tsx
  src/views/@common/components/Button.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/ModelInfoPage/components/CopyButton.tsx
  src/views/ModelInfoPage/components/DetailBox.tsx
  src/views/ModelInfoPage/components/ModelOffer.tsx
  src/views/ModelInfoPage/components/ModelOfferPage.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
  src/views/ModelInfoPage/components/PreferOffer.tsx
  src/views/ModelInfoPage/constants/CONDITION_DATA.tsx
  src/views/ModelInfoPage/constants/CONDITION_LIST.ts
  src/views/ModelInfoPage/constants/MODEL_DATA.ts
  src/views/ModelInfoPage/hooks/types.ts
  src/views/ModelInfoPage/hooks/useGetApplication.ts
  src/views/ModelInfoPage/hooks/usePostApplication.ts
Labels: merge 🌱

#233 [Merge] feature/MainPage => develop
  src/views/MainPage/assets/images/img_maincont1.png
  src/views/MainPage/assets/images/img_maincont2.png
Labels: merge 🌱

#235 [Merge] feature/ApplicationPage=> develop
  package.json
  src/App.tsx
  src/pages/ApplicationPage.tsx
  src/pages/ConfirmPage.tsx
  src/recoil/atoms/applicationState.ts
  src/views/@common/assets/images/btn_hair3_selected.png
  src/views/@common/components/TextArea200.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/DetailedStyle.tsx
  src/views/ApplicationPage/components/HairTypeInput.tsx
  src/views/ApplicationPage/components/HistoryList.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
  src/views/ApplicationPage/constants/.gitkeep
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/constants/step.ts
  src/views/ApplicationPage/utils/captureApplication.ts
  src/views/ApplicationPage/utils/readImg.ts
  yarn.lock
Labels: ApplicationPage ✍🏻, merge 🌱

#218 [LoginPage] 변경된 로그인 로직 반영 및 useType set
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: LoginPage 🔐, api 📡

#237 [Merge] feature/LoginPage => develop
  src/views/LoginPage/hooks/type.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: merge 🌱

#239 [Merge] feature/SignUpPage => develop
  src/views/ModelInfoPage/hooks/useGetApplication.ts
  src/views/ModelInfoPage/hooks/usePostApplication.ts
  src/views/OfferInfoPage/hooks/useGetAgree.ts
  src/views/OfferInfoPage/hooks/useGetOfferModel.ts
  src/views/OfferInfoPage/hooks/usePutOfferModel.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
Labels: merge 🌱

#243 [MainPage] 배너 높이 수정
  src/views/MainPage/components/Banner.tsx
Labels: bug 🐛

#247 [Merge] feature/ModelInfoPage => develop
  src/pages/ModelInfoPage.tsx
Labels: merge 🌱

#254 [Merge]yarn build로 오류잡기
  package-lock.json
  package.json
  src/main.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/MyPage/components/MyInfo.tsx
  src/views/MyPage/hooks/useDeleteUser.ts
  src/views/MyPage/hooks/usePostLogout.ts
  src/views/MyQuit/components/MyQuitCheck.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/UserType.tsx
  src/views/SignUpPage/hooks/useGetRegion.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
  yarn.lock
Labels: release🚀

#257 [bugfix] response 값에 따라 userType 분기 저장
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: bug 🐛, LoginPage 🔐

#259 [Merge] feature/CORS => develop
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/usePostDownloadUrlOffer.ts
Labels: merge 🌱

#260 [ApplicationPage] 지원서 작성 POST API
  src/App.tsx
  src/pages/ConfirmPage.tsx
  src/recoil/atoms/applicationState.ts
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/constants/filter.ts
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/hooks/.gitkeep
  src/views/ApplicationPage/hooks/type.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
  src/views/ApplicationPage/utils/captureApplication.ts
  src/views/ApplicationPage/utils/readImg.ts
Labels: ApplicationPage ✍🏻, api 📡

#263 [Merge] feature/ApplicationPage => develop
  src/pages/ConfirmPage.tsx
  src/recoil/atoms/applicationState.ts
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/constants/filter.ts
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/hooks/.gitkeep
  src/views/ApplicationPage/hooks/type.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
  src/views/ApplicationPage/utils/captureApplication.ts
  src/views/ApplicationPage/utils/readImg.ts
Labels: merge 🌱

#264 [ApplicationPage] POST API 수정사항
  src/pages/ConfirmPage.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/hooks/usePostApplication.ts
Labels: ApplicationPage ✍🏻, api 📡

#265 [ApplicationPage] API 최종 수정
  src/views/ApplicationPage/hooks/usePostApplication.ts
Labels: ApplicationPage ✍🏻, hotfix 🚑

#270 [hotfix] vercel.json 세팅
  vercel.json
Labels: hotfix 🚑

#275 [Release] index.html 설정
  index.html
  public/favicon.svg
  public/og_image.png
Labels: release🚀

#276 [SignUpPage] 이름 글자 수 제한 함수 수정
  src/views/@common/components/Header.tsx
  src/views/MyPage/components/MyFooter.tsx
  src/views/MyPage/components/MyMenuList.tsx
  src/views/MyPage/constants/link.ts
  src/views/SignUpPage/components/LimitInput.tsx
Labels: bug 🐛, SignUpPage 👤

#274 [ApplicationPage] GET API 연결
  src/pages/ConfirmPage.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/hooks/type.ts
  src/views/ApplicationPage/hooks/useGetUser.ts
Labels: ApplicationPage ✍🏻, api 📡

#278 [Merge] feature/ApplicationPage => develop
  src/pages/ConfirmPage.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
  src/views/ApplicationPage/constants/select.ts
  src/views/ApplicationPage/hooks/type.ts
  src/views/ApplicationPage/hooks/useGetUser.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
Labels: merge 🌱

#281 [Merge] feature/OP => develop
  package.json
  src/App.tsx
  yarn.lock
Labels: merge 🌱

#283 [QA] 이미지 import 에러 해결
  src/pages/ConfirmPage.tsx
  src/views/MyPage/components/MyInfo.tsx
Labels: QA💦

#285 [QA] og image 안뜨는 문제 해결
  index.html
Labels: QA💦

#292 [QA]Offer Id 값 get 가져오기 수정
  src/pages/OfferInfoPage.tsx
Labels: OfferInfoPage 🧾, QA💦

#287 [OP] Google Analytics 태그 설치
  index.html
Labels: OP 🖥️

#298 [QA] 제안하기 이탈모달 오류 수정
  src/App.tsx
  src/pages/ModelOfferPage.tsx
  src/views/@common/components/Header.tsx
Labels: OfferInfoPage 🧾, QA💦

#293 [QA] cursor:pointer 일괄 적용
  src/views/MyPage/components/MyMenuItem.tsx
Labels: MyPage 🙋🏻, qa 🔫

#294 [QA] MyPage 프로필사진 디자인 변경
  src/views/MyPage/components/MyInfo.tsx
Labels: MyPage 🙋🏻, qa 🔫

#301 [QA] 작성하기 이탈모달 오류 해결
  src/pages/ModelOfferPage.tsx
  src/views/@common/components/Header.tsx
Labels: ModelInfoPage 📄, qa 🔫

#306 [QA]인스타그램 복사 아이디 조건부 렌더링
  src/pages/OfferDetailSection.tsx
Labels: ModelInfoPage 📄, qa 🔫

#311 [ModelInfoPage] 소정의 약값 constant 수정
  src/views/ModelInfoPage/constants/CONDITION_LIST.ts
Labels: ModelInfoPage 📄, qa 🔫

#308 [QA] token과 userType local->SessionStorage
  src/recoil/atoms/signUpState.ts
  src/views/@common/hooks/api.ts
  src/views/@common/utils/removeToken.ts
Labels: LoginPage 🔐, qa 🔫

#313 [OfferInfoPage]불러오는 OfferInfo 값 해결
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/hooks/useGetAgree.ts
Labels: OfferInfoPage 🧾, qa 🔫

#314 [QA] 메인페이지 통신 오류시 에러 헨들링 로직 수정
  src/views/MainPage/hooks/useGetMain.tsx
Labels: bug 🐛, MainPage 💇🏻‍♀️, qa 🔫

#305 [QA] 레이아웃 수정
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/DefaultInfo.tsx
Labels: ApplicationPage ✍🏻, qa 🔫

#309 [QA] 로그아웃/회원탈퇴 후 메인 뒤로가기 막기
  src/pages/MainPage.tsx
  src/views/MainPage/hooks/useGetMain.ts
  src/views/MainPage/hooks/useStatusBarColor.ts
Labels: qa 🔫, No👆

#324 fix: z-index 수정
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
Labels: OfferInfoPage 🧾, qa 🔫

#322 [QA] 희망스타일 state 미반영 사항 수정
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/StyleButton.tsx
Labels: ApplicationPage ✍🏻, qa 🔫

#315 [OP] SEO
  index.html
  public/robots.txt
Labels: op 🖥️

#327 [Merge] feature/OP => develop
  index.html
  public/robots.txt
Labels: merge 🌱

#329 [QA] 메인 뷰 아래 박스 라이팅 수정
  src/views/MainPage/components/UserContents.tsx
Labels: publish 🎨

#332 [QA] 회원가입 중 이탈 시 토큰 삭제
  src/pages/AgreementPage.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
Labels: qa 🔫

#334 [QA] data 조건부 렌더링 영역 변경
  src/views/@common/assets/images/img_mdprofile.png
  src/views/MyPage/components/MyInfo.tsx
Labels: MyPage 🙋🏻, qa 🔫

#338 [QA] 이미지 저장하기 버튼 스타일 변경
  src/views/OfferInfoPage/components/ImgModal.tsx
Labels: OfferInfoPage 🧾, qa 🔫

#337 [QA] 이미지 캡처 오류 수정
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/CaptureSection.tsx
  src/views/ApplicationPage/hooks/useCaptureApplication.ts
  src/views/ApplicationPage/hooks/useGetUser.ts
  src/views/ApplicationPage/utils/captureApplication.ts
Labels: ApplicationPage ✍🏻, qa 🔫

#336 [QA] 렌더링이 느린 요소에 height 지정
  src/pages/AgreementPage.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/SignUpPage/components/UserType.tsx
Labels: qa 🔫

#341 [OP] Google Analytics 버튼 클릭 추적
  src/pages/LoginPage.tsx
  src/pages/ModelInfoPage.tsx
  src/pages/ModelOfferPage.tsx
  src/pages/OfferInfoPage.tsx
  src/views/@common/components/Button.tsx
  src/views/@common/components/Modal.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/components/UserType.tsx
Labels: op 🖥️

#342 [Merge] feature/OP => develop
  src/pages/LoginPage.tsx
  src/pages/ModelInfoPage.tsx
  src/pages/ModelOfferPage.tsx
  src/pages/OfferInfoPage.tsx
  src/views/@common/components/Button.tsx
  src/views/@common/components/Modal.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/LoginPage/components/LoginButton.tsx
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/OfferInfoPage/components/ButtonBox.tsx
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/components/UserType.tsx
Labels: merge 🌱

#349 [QA] 중간선 단위 변경
  src/pages/OfferInfoPage.tsx
Labels: ModelInfoPage 📄, qa 🔫

#352 [QA] response key 변경하여 해결
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/usePostDownloadUrlOffer.ts
Labels: OfferInfoPage 🧾, qa 🔫

#353 [QA] POST 빈 문자열 처리
  src/views/ApplicationPage/components/ServiceHistory.tsx
Labels: ApplicationPage ✍🏻, qa 🔫

#354 [QA] 결과창 레이아웃
  src/views/ApplicationPage/components/CaptureSection.tsx
Labels: ApplicationPage ✍🏻, qa 🔫
