Repository TEAM-MODDY/moddy-web, pull requests merged in 2024-02, with the labels that each got.

#358 [LoginPage] 리프레시 토큰 도입
  src/views/@common/hooks/api.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: LoginPage 🔐, api 📡

#365 [Merge] feature/Login -> develop
  src/views/@common/hooks/api.ts
  src/views/LoginPage/hooks/usePostLogin.ts
Labels: merge 🌱

#361 [Common] 헤더 아이콘 클릭 버그 수정
  src/views/@common/components/Header.tsx
Labels: bug 🐛, Common 🫧

#364 [Common] Input 컴포넌트 변경
  src/views/@common/components/Input.tsx
  src/views/@common/utils/regex.ts
Labels: feature ✨, Common 🫧

#371 [Merge] Feature/LoginPage => develop
  src/App.tsx
  src/pages/AgreementPage.tsx
  src/views/@common/components/Settings.tsx
  src/views/@common/hooks/api.ts
  src/views/@common/hooks/usePostRefresh.ts
  src/views/@common/hooks/useSetGoogleAnalytics.ts
  src/views/@common/hooks/useSetInterceptors.ts
  src/views/@common/hooks/useSetScreenSize.ts
  src/views/@common/utils/removeToken.ts
  src/views/@common/utils/token.ts
  src/views/LoginPage/hooks/usePostLogin.ts
  src/views/MainPage/hooks/useGetMain.ts
  src/views/MyPage/hooks/useDeleteUser.ts
  src/views/MyPage/hooks/usePostLogout.ts
  src/views/SignUpPage/components/EnterProfile.tsx
Labels: merge 🌱

#374 [MyPage] 회원탈퇴 후 메인페이지 리로드 안되는 이슈 해결
  src/pages/MyQuitPage.tsx
  src/views/MyQuit/hooks/useDeleteUser.ts
Labels: bug 🐛, MyPage 🙋🏻

#367 [MainPage] 분기 처리 로직 개선
  src/pages/MainPage.tsx
  src/views/@common/utils/UsePreventGoBack.ts
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/constant.ts
  src/views/MainPage/hooks/useGetMain.ts
Labels: MainPage 💇🏻‍♀️, refactor ♻️

#377 [Merge] develop => main
  src/App.tsx
  src/pages/AgreementPage.tsx
  src/pages/MainPage.tsx
  src/pages/MyQuitPage.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/Input.tsx
  src/views/@common/components/Settings.tsx
  src/views/@common/hooks/api.ts
  src/views/@common/hooks/usePostRefresh.ts
  src/views/@common/hooks/useSetGoogleAnalytics.ts
  src/views/@common/hooks/useSetInterceptors.ts
  src/views/@common/hooks/useSetScreenSize.ts
  src/views/@common/utils/UsePreventGoBack.ts
  src/views/@common/utils/regex.ts
  src/views/@common/utils/removeToken.ts
  src/views/@common/utils/token.ts
  src/views/LoginPage/hooks/usePostLogin.ts
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/constant.ts
  src/views/MainPage/hooks/useGetMain.ts
  src/views/MyPage/hooks/usePostLogout.ts
  src/views/MyQuit/hooks/useDeleteUser.ts
  src/views/SignUpPage/components/EnterProfile.tsx
Labels: merge 🌱

#375 [SignUpPage] 커스텀 Input 컴포넌트를 공통 Input 컴포넌트로 교체
  src/views/@common/utils/regex.ts
  src/views/SignUpPage/components/PersonalInfo.tsx
Labels: SignUpPage 👤, refactor ♻️

#383 [SignUpPage] verifyStatus 없이 검증 상태를 관리하도록 변경
  src/recoil/atoms/signUpState.ts
  src/views/@common/utils/regex.ts
  src/views/SignUpPage/components/PersonalInfo.tsx
  src/views/SignUpPage/components/PhoneNumber.tsx
  src/views/SignUpPage/components/PreferRegion.tsx
  src/views/SignUpPage/components/RegionItem.tsx
  src/views/SignUpPage/constants/constants.ts
  src/views/SignUpPage/hooks/usePostDesignerSignUp.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
  src/views/SignUpPage/hooks/usePostPhoneNumber.ts
  src/views/SignUpPage/hooks/usePostVerifyPhoneNumber.ts
Labels: SignUpPage 👤, refactor ♻️

#379 [OfferInfoPage]상수 파일 분리
  src/pages/ModelInfoPage.tsx
  src/pages/OfferInfoPage.tsx
  src/views/ModelInfoPage/components/OfferDetailSection.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  src/views/OfferInfoPage/constants/CHECK_OFFER_DATA.ts
  src/views/OfferInfoPage/constants/message.ts
Labels: OfferInfoPage 🧾, refactor ♻️

#389 [hotfix] 새로고침할 경우 accessToken이 안담기는 문제 해결
  src/views/@common/hooks/useSetInterceptors.ts
Labels: bug 🐛, hotfix 🚑

#390 [All] 서버 리팩토링에 따른 API 수정사항 반영
  src/pages/OfferInfoPage.tsx
  src/views/ApplicationPage/hooks/useGetUser.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
  src/views/MainPage/hooks/useGetMain.ts
  src/views/ModelInfoPage/components/OfferDetailSection.tsx
  src/views/ModelInfoPage/hooks/types.ts
  src/views/ModelInfoPage/hooks/useGetApplication.ts
  src/views/ModelInfoPage/hooks/usePostApplication.ts
  src/views/OfferInfoPage/components/CheckOfferPage.tsx
  src/views/OfferInfoPage/components/DesignerInfoSection.tsx
  src/views/OfferInfoPage/components/DirectionModal.tsx
  src/views/OfferInfoPage/components/ImgModal.tsx
  src/views/OfferInfoPage/components/OfferDetailSection.tsx
  src/views/OfferInfoPage/components/ProfileWrapperBox.tsx
  src/views/OfferInfoPage/hooks/type.ts
  src/views/OfferInfoPage/hooks/useGetAgree.ts
  src/views/OfferInfoPage/hooks/useGetDownloadUrlOffer.ts
  src/views/OfferInfoPage/hooks/useGetOfferModel.ts
  src/views/OfferInfoPage/hooks/usePutOfferModel.ts
  src/views/SignUpPage/hooks/useGetRegion.ts
  src/views/SignUpPage/hooks/usePostDesignerSignUp.ts
  src/views/SignUpPage/hooks/usePostModelSignUp.ts
Labels: api 📡

#381 [SignUpPage]주소 입력 페이지 set함수 관리
  src/views/SignUpPage/components/ShopInfo.tsx
Labels: SignUpPage 👤, refactor ♻️
