Repository TEAM-MODDY/moddy-web, pull requests merged in 2024-03, with the labels that each got.

#380 [SignUpPage]프로필 이미지 등록 및 인스타그램, 네이버플레이스 링크 set함수 관리
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ProfileUpload.tsx
  src/views/SignUpPage/utils/readImg.ts
Labels: SignUpPage 👤, refactor ♻️

#399 [SignUpPage]마지막 두 페이지 set함수 리팩토링
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
Labels: SignUpPage 👤, refactor ♻️

#402 [SignUpPage] VerificationStatus 없이 검증 상태 관리변경
  src/recoil/atoms/signUpState.ts
  src/views/SignUpPage/components/DesignerInfo.tsx
  src/views/SignUpPage/components/LimitInput.tsx
  src/views/SignUpPage/components/OpenChatLink.tsx
  src/views/SignUpPage/components/Profile.tsx
  src/views/SignUpPage/components/ShopInfo.tsx
  src/views/SignUpPage/hooks/usePostDesignerSignUp.ts
Labels: SignUpPage 👤, refactor ♻️

#387 [ApplicationPage] verifyStatus 없이 검증 상태를 관리하도록 변경
  src/recoil/atoms/applicationState.ts
  src/views/@common/utils/regex.ts
  src/views/ApplicationPage/components/DefaultInfo.tsx
  src/views/ApplicationPage/components/ProfileUpload.tsx
Labels: ApplicationPage ✍🏻, refactor ♻️

#397 [ApplicationPage] 지원 결과서 이미지 캡처 렌더링 문제 수정
  src/recoil/atoms/applicationState.ts
  src/views/ApplicationPage/components/CaptureSection.tsx
  src/views/ApplicationPage/hooks/useCaptureApplication.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
  src/views/ApplicationPage/utils/captureImage.ts
Labels: ApplicationPage ✍🏻, error 🚨, qa 🔫

#408 [SignUpPage] 폴더 구조 변경
  src/pages/SignUpPage.tsx
  src/views/@common/hooks/useGetCheckApplication.ts
  src/views/MainPage/components/TopSheet.tsx
  src/views/SignUpPage/components/0_유저유형선택/UserType.tsx
  src/views/SignUpPage/components/1_기본정보입력/PersonalInfo.tsx
  src/views/SignUpPage/components/2_전화번호인증/PhoneNumber.tsx
  src/views/SignUpPage/components/3_선호지역선택/PreferRegion.tsx
  src/views/SignUpPage/components/3_선호지역선택/RegionItem.tsx
  src/views/SignUpPage/components/4_샵정보/PostCode.tsx
  src/views/SignUpPage/components/4_샵정보/ShopInfo.tsx
  src/views/SignUpPage/components/5_디자이너프로필/Profile.tsx
  src/views/SignUpPage/components/5_디자이너프로필/ProfileUpload.tsx
  src/views/SignUpPage/components/6_디자이너소개/DesignerInfo.tsx
  src/views/SignUpPage/components/7_오픈채팅링크/OpenChatLink.tsx
  src/views/SignUpPage/components/@common/DesignerTextArea.tsx
  src/views/SignUpPage/components/@common/Field.tsx
  src/views/SignUpPage/components/@common/IntroductionTextArea.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/LimitInput.tsx
  src/views/SignUpPage/components/index.ts
  src/views/SignUpPage/constants/step.ts
Labels: refactor ♻️

#409 [MyPage] 로그아웃,회원탈퇴 - 계정관리 페이지로 분리 작업
  src/App.tsx
  src/pages/MyPage.tsx
  src/pages/MyQuitPage.tsx
  src/views/@common/components/Modal.tsx
  src/views/@common/constants/modalText.ts
  src/views/MyPage/assets/icons/ic_account.svg
  src/views/MyPage/assets/icons/ic_account_footer.svg
  src/views/MyPage/assets/icons/ic_delete.svg
  src/views/MyPage/assets/icons/ic_logout.svg
  src/views/MyPage/assets/icons/index.ts
  src/views/MyPage/components/MyAccountPage.tsx
  src/views/MyPage/components/MyMenuList.tsx
Labels: publish 🎨, MyPage 🙋🏻

#411 [SP2] #393manage account => feature/SP2
  src/views/MyPage/components/MyAccountPage.tsx
Labels: merge 🌱

#404 [SignUpPage]이미지 용량 초과 시 업로드 제한 및 모달 출현
  src/views/@common/components/Header.tsx
  src/views/@common/components/ProfileUpload.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/@common/utils/readImg.ts
  src/views/SignUpPage/components/5_디자이너프로필/Profile.tsx
  src/views/SignUpPage/components/7_오픈채팅링크/OpenChatLink.tsx
Labels: feature ✨, SignUpPage 👤

#401 [ModelInfoPage]제안서 보내기 이전에 확인모달 추가
  src/pages/ModelOfferPage.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
Labels: feature ✨, ModelInfoPage 📄

#412 [SignUpPage] 회원가입 중단 시 모달 워딩 변경
  src/views/@common/components/Header.tsx
Labels: Common 🫧

#413 [MainPage] 지원서 유효기간에 따른 제안서 투명도 처리
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/applyStatus.ts
  src/views/MainPage/constants/status.ts
  src/views/MainPage/hooks/type.ts
Labels: feature ✨, MainPage 💇🏻‍♀️

#415 [ApplicationPage] 지원서 만료 예정 정보 추가
  src/App.tsx
  src/pages/ApplicationConfirmPage.tsx
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
Labels: feature ✨, ApplicationPage ✍🏻

#417 [ApplicationPage] 이미지 용량 초과시 업로드 제한 및 모달 출현 공통 컴포넌트 적용
  src/pages/ApplicationPage.tsx
  src/views/ApplicationPage/components/Profile.tsx
  src/views/ApplicationPage/constants/message.ts
Labels: feature ✨, ApplicationPage ✍🏻

#416 [MyPage] 마이페이지 > 나의 지원서 보기 기능 구현
  .husky/pre-commit
  src/pages/ModelInfoPage.tsx
  src/pages/MyPage.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/ModelInfo.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/@common/constants/modalText.ts
  src/views/MainPage/components/Card.tsx
  src/views/ModelInfoPage/assets/icons/ic_delete.svg
  src/views/ModelInfoPage/assets/icons/index.ts
  src/views/ModelInfoPage/components/ExpirationFooter.tsx
  src/views/ModelInfoPage/hooks/types.ts
  src/views/ModelInfoPage/hooks/useDeleteApplication.ts
  src/views/MyPage/assets/icons/ic_myapplication.svg
  src/views/MyPage/assets/icons/index.ts
  src/views/MyPage/components/MyInfo.tsx
  src/views/MyPage/components/MyMenuList.tsx
Labels: feature ✨, MyPage 🙋🏻

#418 [Merge] feature/SP2 => develop
  .husky/pre-commit
  src/App.tsx
  src/pages/ApplicationConfirmPage.tsx
  src/pages/ApplicationPage.tsx
  src/pages/ModelInfoPage.tsx
  src/pages/ModelOfferPage.tsx
  src/pages/MyPage.tsx
  src/pages/MyQuitPage.tsx
  src/pages/SignUpPage.tsx
  src/views/@common/components/Header.tsx
  src/views/@common/components/ModelInfo.tsx
  src/views/@common/components/ProfileUpload.tsx
  src/views/@common/components/ToastMessage.tsx
  src/views/@common/constants/modalText.ts
  src/views/@common/hooks/useGetCheckApplication.ts
  src/views/@common/utils/readImg.ts
  src/views/ApplicationPage/components/ApplicationResult.tsx
  src/views/ApplicationPage/components/Profile.tsx
  src/views/ApplicationPage/constants/message.ts
  src/views/ApplicationPage/hooks/usePostApplication.ts
  src/views/MainPage/components/Card.tsx
  src/views/MainPage/components/TopSheet.tsx
  src/views/MainPage/components/UserContents.tsx
  src/views/MainPage/constants/applyStatus.ts
  src/views/MainPage/constants/status.ts
  src/views/MainPage/hooks/type.ts
  src/views/ModelInfoPage/assets/icons/ic_delete.svg
  src/views/ModelInfoPage/assets/icons/index.ts
  src/views/ModelInfoPage/components/ExpirationFooter.tsx
  src/views/ModelInfoPage/components/OfferSentCompletePage.tsx
  src/views/ModelInfoPage/hooks/types.ts
  src/views/ModelInfoPage/hooks/useDeleteApplication.ts
  src/views/MyPage/assets/icons/ic_myapplication.svg
  src/views/MyPage/assets/icons/index.ts
  src/views/MyPage/components/MyInfo.tsx
  src/views/MyPage/components/MyMenuList.tsx
  src/views/SignUpPage/components/0_유저유형선택/UserType.tsx
  src/views/SignUpPage/components/1_기본정보입력/PersonalInfo.tsx
  src/views/SignUpPage/components/2_전화번호인증/PhoneNumber.tsx
  src/views/SignUpPage/components/3_선호지역선택/PreferRegion.tsx
  src/views/SignUpPage/components/3_선호지역선택/RegionItem.tsx
  src/views/SignUpPage/components/4_샵정보/PostCode.tsx
  src/views/SignUpPage/components/4_샵정보/ShopInfo.tsx
  src/views/SignUpPage/components/5_디자이너프로필/Profile.tsx
  src/views/SignUpPage/components/6_디자이너소개/DesignerInfo.tsx
  src/views/SignUpPage/components/7_오픈채팅링크/OpenChatLink.tsx
  src/views/SignUpPage/components/@common/DesignerTextArea.tsx
  src/views/SignUpPage/components/@common/Field.tsx
  src/views/SignUpPage/components/@common/IntroductionTextArea.tsx
  src/views/SignUpPage/components/EnterProfile.tsx
  src/views/SignUpPage/components/index.ts
  src/views/SignUpPage/constants/step.ts
Labels: merge 🌱

#385 [ApplicationPage] 시술 내역 드롭다운 박스 단일 활성화 기능 추가
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
Labels: feature ✨, ApplicationPage ✍🏻

#425 [Merge] feature/SP2 => develop
  src/recoil/atoms/applicationState.ts
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/constants/message.ts
Labels: merge 🌱

#424 [MainPage] 로그인 이동 시 animation이 작동하여 상태바 색상이 어색하게 바뀌는 이슈 해결
  index.html
  src/styles/GlobalStyle.ts
  src/views/MainPage/components/GuestContents.tsx
  src/views/MainPage/hooks/useStatusBarColor.ts
Labels: MainPage 💇🏻‍♀️

#426 [Merge] develop => main (2nd sprint 추가 작업물 배포)
  index.html
  src/recoil/atoms/applicationState.ts
  src/styles/GlobalStyle.ts
  src/views/ApplicationPage/components/ServiceHistory.tsx
  src/views/ApplicationPage/components/ServiceHistoryListItem.tsx
  src/views/ApplicationPage/constants/message.ts
  src/views/MainPage/components/GuestContents.tsx
  src/views/MainPage/hooks/useStatusBarColor.ts
Labels: merge 🌱
